WS-TS-Client/WS-TS-Client/Connected Services/WarehouseService/DataStructures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataStructures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataStructures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoadCarrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:float" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lock" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
      <xs:element minOccurs="0" name="Z" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadCarrier" nillable="true" type="tns:LoadCarrier" />
</xs:schema>