WS-TS-Client/WS-TS-Client/Connected Services/WarehouseService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataStructures" />
  <xs:element name="StoreLoadCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataStructures" minOccurs="0" name="loadCarrier" nillable="true" type="q1:LoadCarrier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreLoadCarrierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineLoadCarrierDestination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataStructures" minOccurs="0" name="loadCarrier" nillable="true" type="q2:LoadCarrier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetermineLoadCarrierDestinationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetermineLoadCarrierDestinationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereIsLoadCarrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadCarrierID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhereIsLoadCarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereIsLoadCarrierResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>