WS-TS-Client/WS-TS-Client/Connected Services/WarehouseService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataStructures" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_StoreLoadCarrier_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreLoadCarrier" />
  </wsdl:message>
  <wsdl:message name="IService1_StoreLoadCarrier_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreLoadCarrierResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DetermineLoadCarrierDestination_InputMessage">
    <wsdl:part name="parameters" element="tns:DetermineLoadCarrierDestination" />
  </wsdl:message>
  <wsdl:message name="IService1_DetermineLoadCarrierDestination_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetermineLoadCarrierDestinationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WhereIsLoadCarrier_InputMessage">
    <wsdl:part name="parameters" element="tns:WhereIsLoadCarrier" />
  </wsdl:message>
  <wsdl:message name="IService1_WhereIsLoadCarrier_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhereIsLoadCarrierResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="StoreLoadCarrier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StoreLoadCarrier" message="tns:IService1_StoreLoadCarrier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StoreLoadCarrierResponse" message="tns:IService1_StoreLoadCarrier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetermineLoadCarrierDestination">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DetermineLoadCarrierDestination" message="tns:IService1_DetermineLoadCarrierDestination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DetermineLoadCarrierDestinationResponse" message="tns:IService1_DetermineLoadCarrierDestination_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhereIsLoadCarrier">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WhereIsLoadCarrier" message="tns:IService1_WhereIsLoadCarrier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WhereIsLoadCarrierResponse" message="tns:IService1_WhereIsLoadCarrier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#NetTcpBinding_IService1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StoreLoadCarrier">
      <soap12:operation soapAction="http://tempuri.org/IService1/StoreLoadCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetermineLoadCarrierDestination">
      <soap12:operation soapAction="http://tempuri.org/IService1/DetermineLoadCarrierDestination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhereIsLoadCarrier">
      <soap12:operation soapAction="http://tempuri.org/IService1/WhereIsLoadCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService1" binding="tns:NetTcpBinding_IService1">
      <soap12:address location="net.tcp://localhost:8733/WcfServiceLibrary1/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/WcfServiceLibrary1/Service1/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>